<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://kit.fontawesome.com/69d25c3dbf.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"
      rel="stylesheet"
    />
    <title>AI Chat Bot</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <section>
        <h1>Simple AI Bot</h1>
        <h2>with Web Speech API</h2>

        <button><i class="fa fa microphone"></i></button>

        <div>
            <p>You Said: <em class="output-you"></em></p>
            <p>Bot replied: <em class="output-bot"></em></p>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="../public/js/script.js"></script>
</body>
</html>